*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
       width: 100%;
       height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#nav{
    width: 100%;
    height: 6vw;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
#nav-part1{
    width: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
}
#nav-part1 h4{
    font-size: 1.1vw;
    font-weight: 200;
}
#nav img{
    height: 4vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
#nav-part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2 button{
   padding: 10px 15px;
   font-size: 0.879vw;
   font-weight: 600;
   border-radius: 50px;
   border: none;
   background-color: black;
   color: white;
   margin: 0 14px;
}
#nav-part2 button:hover{
    opacity: 0.7;
}
#nav-part2 button:nth-child(1){
     font-size: 1vw;
      font-weight: 200;
    background-color: transparent;
    color: black;
}
#content{
   width: 100%;
    height: calc(100% - 80px);
    /* background-color: red; */
    padding-top: 8vw;
    position: relative;
}
#content h3{
    background-color: #F9ADE9;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    font-weight: 525;
    transform: translate(-50%, -50%);
}
#content h1{
    position: absolute;
    margin-top: 5vw;
    left: 9%;
    top: 20%;
   font-size: 6vw;
   font-weight: 200;
   text-align: center;
   font-family: "Source Serif 4";
   line-height: 6.5vw;
   width: 82%;
}
#content h4{
    text-align: center;
    position: absolute;
    font-size: 1.2vw;
    font-weight: 200;
    transform: translate(-50%,-50%);
    left: 33%;
    top: 72%;
    width: 69%;
}
#content button{
    background-color: black;
    border-radius: 50px;
    color: #fff;
    padding: 18px 15px;
    font-size: 1vw;
    font-weight: 200;
    position: absolute;
    border: none;    
    top: 82%;
    left: 50%;
}
#scroller{
    width: 100%;
    height: 80vh;
    /* background-color: yellow; */
    padding: 1vw;
    /* display: flex; */
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroller::-webkit-scrollbar{
    display: none;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem{
     /* flex-shrink: 0; */
    overflow: hidden;
    display: inline-block;
    margin: 8px;
    width: 350px;
    height: 82%;
    border-radius: 10px;
    /* background-color: royalblue; */
}
#page-1{
    /* background-color: blue; */
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 50px;
}
#page-1 h1{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 300;
}
.card{
    display: inline-block;
    width: 350px;
    height: 300px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.3s;
    top: 2.5vw;
    left: 3.2vw;
}
.card:hover .card-bottom{
    bottom: 0;
}
.card:hover{
    scale: 1.1;
    cursor: pointer;
}
.card-bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.772));
    position: absolute;
    bottom: -40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    padding-top: 10px;
}
.card-bottom>h5{
    font-size: 20px;
    font-weight: 500;
}
.card-bottom>i{
    font-size: 20px;
    font-weight: 500;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#page-1 button{
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    padding: 10px 12px;
    border: 1.5px solid black;
    border-radius: 50px;
    background-color: transparent;
    color: black;
    font-size: 20px;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;
}
#page-2{
    margin-top: 15%;
    width: 100%;
    height: 100%;
    background-color: #FFDA79;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page-2 #content{
    width: 50%;
    height: 100%;
    /* background-color: royalblue;  */
    position: relative;
}
#page-2 #content >h1{
    width: 70%;
    text-align: center;
    font-weight: 500;
    font-family: "Source Serif 4";
    font-size: 4vw;
    position: absolute;
    top: -5%;
    line-height: 4.2vw;
}
#page-2 #content >p{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 35px;
    transform: translateX(-50%);
    left: 50%;
    top: 38%;
}
#page-2 #content > #buttons{
    position: absolute;
    top: 58%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#buttons > .btn{
    background-color: black;
    padding: 20px 38px;
    color: white;
    border-radius: 50px;
    font-size: 1.1vw;
    font-weight: 400;
}
#buttons > .btn:nth-child(2){
    background-color: #fff;
    color: black;
    font-weight: 550;
}
#page-2 #content #buttons>.btn:nth-child(1):hover{
    opacity: 0.8;
}
#page-2 #content #buttons>.btn:nth-child(2):hover{
    opacity: 0.8;
}
#page-2 #content >h2{
    position: absolute;
    top: 78%;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    font-size: 1.6vw;
    margin-top: 30px;
    font-weight: 400;
}





